{% extends "base.html" %}

{% block title %}
    Редагування профілю | DR TOISTER
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <h1 class="mb-4">Редагування профілю</h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-flex gap-2">
                    <button class="btn btn-dark" type="submit">
                        Зберегти
                    </button>

                    <a
                            class="btn btn-outline-secondary"
                            href="{% url 'accounts:dashboard' %}"
                    >
                        Скасувати
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
